<html>
  <head>
    <title>Créer un potin</title>
  </head>
  <body>
    <center><h1>Crée un potin !</h1></center>
    <p><center>Balance ton potin via le formulaire ci-dessous</center></p>
    <center><form action='/gossips/new/' method='POST'>
      Votre nom :  <input type='text' name='gossip_author'/><br/>
      Ton gossip : <input type='text' name='gossip_content'/><br/>
      <input type='submit'/>

    <a href="/"><button type="button" class="btn btn-lg btn-block btn-secondary">Retour</button></a>
    </form>
  </body>
</html>
